<div class="card-result">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Bem vindo ao seu Profile!</h2>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="profile">
        <div class="profile-info">
          <h3>Usuário de matrícula: {{ user.matricula }}</h3>
          <p>Curso:{{ user.curso }}</p>
          <p>Email:{{ user.email }}</p>
          <p>Gênero: {{ user.genero }}</p>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <br />
  @if (user.tipoDeUser == "Locatário") {
  <mat-card
    *ngFor="let proposta of user.propostas"
    class="example-card"
    appearance="outlined"
  >
    <mat-card-header>
      <mat-card-title>Solicitação de aluguel:</mat-card-title>
    </mat-card-header>
    <br />
    <mat-card-content>
      <mat-card-subtitle>Título: {{ proposta.Room.titulo }}</mat-card-subtitle>
      <mat-card-subtitle
        >Descrição: {{ proposta.Room.descricao }}</mat-card-subtitle
      >
      <mat-card-subtitle
        >Localização: {{ proposta.Room.localizacao }}</mat-card-subtitle
      >
      <mat-card-subtitle>
        Campus mais próximo: {{ proposta.Room.campusProximo }}
      </mat-card-subtitle>
      <mat-card-subtitle
        >Número de quartos vagos:
        {{ proposta.Room.numeroQuartos }}</mat-card-subtitle
      >
      <mat-card-subtitle
        >Preço: R$: {{ proposta.Room.preco }}</mat-card-subtitle
      >
      <mat-card-subtitle>Status: {{ proposta.State }}</mat-card-subtitle>
    </mat-card-content>
  </mat-card>
  } @else {
  <mat-card
    *ngFor="let proposta of user.propostas"
    class="example-card"
    appearance="outlined"
  >
    <mat-card-header>
      <mat-card-title>Solicitação de aluguel:</mat-card-title>
    </mat-card-header>
    <br />
    <mat-card-content>
      <mat-card-subtitle
        >Matrícula: {{ proposta.Locatario.matricula }}</mat-card-subtitle
      >
      <mat-card-subtitle
        >Gênero: {{ proposta.Locatario.genero }}</mat-card-subtitle
      >
      <mat-card-subtitle
        >Curso: {{ proposta.Locatario.curso }}</mat-card-subtitle
      >
      <mat-card-subtitle>Status: {{ proposta.State }}</mat-card-subtitle>

      <mat-card>
        <mat-card-header>
          <mat-card-title>INFORMAÇÕES DO ALOJAMENTO:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-card-subtitle
            >Título: {{ proposta.Room.titulo }}</mat-card-subtitle
          >
          <mat-card-subtitle
            >Descrição: {{ proposta.Room.descricao }}</mat-card-subtitle
          >
          <mat-card-subtitle
            >Localização: {{ proposta.Room.localizacao }}</mat-card-subtitle
          >
          <mat-card-subtitle>
            Campus mais próximo: {{ proposta.Room.campusProximo }}
          </mat-card-subtitle>
          <mat-card-subtitle
            >Número de pessoas quartos vagos:
            {{ proposta.Room.numeroQuartos }}</mat-card-subtitle
          >
          <mat-card-subtitle
            >Preço: R$: {{ proposta.Room.preco }}</mat-card-subtitle
          >
        </mat-card-content>
      </mat-card>
      <mat-card-actions>
        <button mat-raised-button (click)="onYesClick()">Aceitar</button>
        <button mat-raised-button (click)="onNoClick()">Rejeitar</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
  }
</div>
