<form [formGroup]="userLogin">
  <h4>Login</h4>

  <label for="matricula">Matrícula</label>
  <input
    type="text"
    formControlName="matricula"
    placeholder="Matrícula"
    id="matricula"
    class="form-control"
  />
  <span
    class="NGalert"
    *ngIf="
      get('matricula').hasError('isValidMatricula') && get('matricula').touched
    "
    >Contém dígitos! Inválido!</span
  >
  <span
    class="NGalert"
    *ngIf="get('matricula').hasError('minlength') && get('matricula').touched"
  >
    Matrícula deve ter exatamente 6 caractéres
  </span>

  <label for="senha">Senha</label>
  <input
    type="password"
    formControlName="senha"
    placeholder="Senha"
    id="senha"
    class="form-control"
  />
  <span class="NGalert" *ngIf="get('senha').invalid && get('senha').touched"
    >Senha deve ter mais de 6 caractéres</span
  >

  <!-- <button type="button" (click)="onClick()">teste</button> -->

  <button type="button" mat-flat-button (click)="onSubmit()">Log In</button>
  <hr />
  <a routerLink="/register"> Não sou cadastrado.</a>
</form>
