<div class="homeContainer">
  <div class="container">
    <h1 class="homeTitle">Welcome to UniPlace!</h1>
    <p class="homeDescription">
      UniPlace é uma plataforma que tem como objetivo facilitar o encontro entre
      estudantes e locatários.
    </p>
    <p class="homeDescription">
      Fazendo com que a busca por moradia seja mais fácil e segura.
    </p>
    <p class="homeDescription">Já tem uma conta?</p>
    <a class="btn btn-outline-danger" routerLink="/login">Login</a>
    <div class="divider"></div>
    <p class="homeDescription">Não tem uma conta ainda?</p>
    <a class="btn btn-outline-danger" routerLink="/register">Register</a>
  </div>
</div>
