<form [formGroup]="Advertisement">
  <h5>Criar Anúncio.</h5>
  <div class="form-group">
    <label for="foto">Fotos da Residência</label>
    <input
      type="file"
      class="form-control"
      id="foot"
      (change)="onChange($event)"
      placeholder="Fotos do Anúncio"
      accept="image/*"
      multiple
    />
  </div>
  <div class="form-group">
    <label for="title">Título</label>
    <input
      type="text"
      class="form-control"
      id="title"
      formControlName="title"
      placeholder="Título do Anúncio"
    />
  </div>
  <span class="NGalert" *ngIf="get('title').invalid && get('title').touched">
    Título inválido (mínimo 6, máximo 50 caractéres).
  </span>
  <div class="form-group">
    <label for="description">Descrição</label>
    <textarea
      class="form-control"
      id="description"
      formControlName="description"
      placeholder="Descrição"
    ></textarea>
  </div>
  <span
    class="NGalert"
    *ngIf="get('description').invalid && get('description').touched"
  >
    Description inválido (mínimo 6, máximo 500 caractéres).
  </span>
  <div class="form-group">
    <label for="location">Localização</label>
    <input
      type="text"
      class="form-control"
      name="location"
      id="location"
      formControlName="location"
      placeholder="Localização"
    />
  </div>
  <span
    class="NGalert"
    *ngIf="get('location').invalid && get('location').touched"
  >
    Localização inválida (mínimo 6, máximo 50 caractéres).
  </span>
  <div>
    <label for="nearestCampus">Campus mais próximo</label>
    <select
      class="form-control"
      id="nearestCampus"
      formControlName="nearestCampus"
    >
      <option
        style="background-color: rgba(167, 34, 34, 0.582)"
        *ngFor="let campus of allCampus"
        [value]="campus"
      >
        {{ campus }}
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="numberOfRooms">Número de quartos disponíveis</label>
    <input
      type="number"
      class="form-control"
      formControlName="numberOfRooms"
      placeholder="Número de quartos"
      min="1"
    />
    <span
      class="NGalert"
      *ngIf="get('numberOfRooms').invalid && get('numberOfRooms').touched"
      >Deve ter no mínimo 1 quarto vago</span
    >
  </div>
  <div>
    <label for="price">Preço</label>
    <input
      type="number"
      class="form-control"
      id="price"
      formControlName="price"
      placeholder="Preço do aluguel"
      min="200"
      max="2000"
    />
    <span class="NGalert" *ngIf="get('price').invalid && get('price').touched"
      >Preço deve estar entre 200 e 2000</span
    >
  </div>

  <button type="button" mat-flat-button (click)="onSubmit()">
    Criar anúncio
  </button>
</form>
