<nav
  class="navbar fixed-top px-5"
  style="
    border-radius: 25px;
    margin: auto;
    margin-top: 2px;
    height: min-content;
    background-color: rgb(245, 227, 220);
    backdrop-filter: blur(20px);
  "
>
  <div class="container">
    <a routerLink="/home" routerLinkActive="active" class="navbar-brand">
      <img
        src="faviconUFRGS.png"
        width="30"
        height="20"
        alt="UFRS Hotel"
        class="img-fluid logo"
        style="align-items: end; background-color: black; border-radius: 10px"
      />
      UniPlace
    </a>

    <a
      *ngIf="isLoggedIn && user.tipoDeUser == 'Locador'"
      mat-raised-button
      routerLink="/create-ad"
      routerLinkActive="active"
      >Criar anúncio</a
    >

    <a
      *ngIf="isLoggedIn && user.tipoDeUser == 'Locatário'"
      mat-raised-button
      routerLink="/search"
      routerLinkActive="active"
      >Buscar Apê</a
    >

    <a
      *ngIf="!isLoggedIn"
      mat-raised-button
      routerLink="/login"
      routerLinkActive="active"
      >Login</a
    >

    <a
      *ngIf="isLoggedIn"
      mat-raised-button
      matBadge="{{ user.propostas.length }}"
      routerLink="/profile"
      routerLinkActive="active"
      >Profile</a
    >

    <a
      *ngIf="isLoggedIn"
      mat-raised-button
      routerLink="/logout"
      routerLinkActive="active"
      (click)="onLogout()"
      >Logout</a
    >
    <a
      *ngIf="!isLoggedIn"
      mat-raised-button
      routerLink="/register"
      routerLinkActive="active"
      >Register</a
    >
    <a
      *ngFor="let item of menuItems"
      mat-raised-button
      routerLink="/{{ item.path }}"
      routerLinkActive="active"
      >{{ item.name }}</a
    >
  </div>
</nav>

<!-- <div class="center_div"> -->
<router-outlet></router-outlet>
<!-- </div> -->
