<form class="form-inline" [formGroup]="filters">
  <h3>Buscar</h3>
  <div class="formGroup">
    <label for="campus">Campus</label>
    <select formControlName="campus" id="campus" class="form-control">
      <option
        *ngFor="let c of campusList"
        [value]="c"
        style="background: rgba(167, 34, 34, 0.582)"
      >
        {{ c }}
      </option>
    </select>
    <!-- <span *ngIf="c"></span> -->
  </div>
  <div class="formGroup">
    <label for="numberOfRoomates">Número de colegas de quarto</label>
    <input
      class="form-control"
      min="0"
      type="number"
      name="numberOfRoomates"
      id="numberOfRoomates"
      formControlName="numberOfRoommates"
    />
    <span *ngIf="filters.get('numberOfRoommates')?.invalid"
      >Campo está inválido.</span
    >
  </div>
  <div class="together">
    <label for="sameGender">Somente mesmo gênero</label>
    <input
      class="checkbox"
      type="checkbox"
      name="sameGender"
      id="sameGender"
      formControlName="sameGender"
    />

    <label for="priceRange" class="form-label">Faixa de Preço</label>

    <mat-slider
      style="width: 100%"
      discrete
      min="200"
      max="2000"
      [showTickMarks]="true"
    >
      <input formControlName="minPrice" value="200" matSliderStartThumb />
      <input formControlName="maxPrice" value="2000" matSliderEndThumb />
    </mat-slider>
  </div>
  <button class="btn btn-outline-danger" (click)="onSearch()">Buscar</button>
</form>
